<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title>Document</title>
</head>
<body>
  <div class="leave-request-form leave-request-form--popup-form">
    <div class="leave-request-form-wrap leave-request-form-wrap--popup">
      <form action="" class="leave-request-form-wrap-form leave-request-form-wrap-form--popup">
        <button class="leave-request-form-wrap-form__close-btn"></button>
        <h3 class="leave-request-form-wrap-form__title leave-request-form-wrap-form__title--popup-title">Leave a request and our manager will contact you shortly</h3>
        <label class="input-form leave-request-form-wrap-form__input-form">Name
          <input type="text" placeholder="What is your name:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
        <label class="input-form leave-request-form-wrap-form__input-form">Phone
          <input type="text" placeholder="Your phone number:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
        <label class="input-form leave-request-form-wrap-form__input-form">Email
          <input type="text" placeholder="Your email:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
        <label class="checkbox-form leave-request-form-wrap-form__checkbox-form">
          <input type="checkbox" class="checkbox-form__input leave-request-form-wrap-form__checkbox-form_input">
          <span class="checkbox-form__text leave-request-form-wrap-form__checkbox-form_text">I agree to the processing of personal data</span>
        </label>
        <button class="button leave-request-form-wrap-form__btn">Submit</button>
      </form>
    </div>
  </div>
  <div class="start-screen">
    <header class="header-footer header-footer__header">
        <div class="header-footer header-footer__mobile">
            <div class="container header-footer__container header-footer__container--mobile">
              <a href="#" class="header-footer__logo header-footer__logo--mobile">IC"REPAIR DESIGN PROJECT"</a>
              <button class="header-footer__burger">
                <div class="header-footer__burger-item"></div>
                <div class="header-footer__burger-item"></div>
                <div class="header-footer__burger-item"></div>
              </button>
            </div>
          </div>
      <div class="container header-footer__container header-footer__container--popup">
        <a href="#" class="header-footer__logo">IC"REPAIR DESIGN PROJECT"</a>
        <nav class=" header-footer-nav header-footer-nav__header">
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Home</a>
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Projects</a>
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Measurement</a>
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Team</a>
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Reviews</a>
          <a href="#" class="header-footer-nav__item header-footer-nav__item_header">Contacts</a>
        </nav>
        <div class="header-footer-support-wrap header-footer-support-wrap__header">
          <a href="#" class="header-footer__phone header-footer__phone_header">+7 (928) 768-32-39</a>
          <button class="button header-footer__button button header-footer__button_header">Request a call</button>
        </div>
      </div>
    </header>
    <div class="banner">
      <button href = "#" class="banner-instagram">
        <a class="banner-instagram__title">Instagram</a>
      </button>
      <div class="banner-welcom">
        <div class="banner-welcom-wrap">
          <h1 class="banner-welcom-wrap__title">Turnkey Repair in the city of <span class="banner-welcom-wrap__text-decoration">Rostov-on-Don</span></h1>
          <span class="banner-welcom-wrap__subtitle">Get ready-made turnkey repairs on time
              with work time saving up to 45 days and 20% from
              cost of materials due to the organization of work</span>
          <button class="button banner-welcom-wrap__calculate-btn">Calculate the cost</button>
          <button class="second-button banner-welcom-wrap__submit-btn">Submit your application</button>
        </div>
      </div>
      <button class="banner-scroll-btn" data-scroll-to="projects">
        <div class="banner-scroll-btn__title" data-scroll-to="projects">Scroll down</div>
        <img class="banner-scroll-btn__img" data-scroll-to="projects" src="<%=require('./assets/images/scrolldown.png')%>" alt="scrolldown"/>
      </button>
    </div>
  </div>
  <div id="to" class="projects">
    <div class="container projects__container">
      <div class="projects-top-menu"></div>
      <div class="projects-slider">
        <div class="projects-slider-item" data-content="Rostov-on-Don LCD admiral">
          <div class="projects-slider-item-wrap">
            <div class="projects-slider-item-wrap-project-paragraph">
            <div class="projects-slider-item-wrap-projects">
              <h2 class="projects-slider-item-wrap-projects__title">Completed projects</h2>
              <span class="projects-slider-item-wrap-projects__subtitle">Only a small part of the work performed by our company is presented on the site.
                For 14 years on in the construction market we have made happy more than 1000 families</span>
            </div>
            <div class="projects-slider-item-wrap-paragraph">
              <div class="projects-slider-item-wrap-city">
                <h5 class="projects-slider-item-wrap-city__title">City:</h5>
                <span class="projects-slider-item-wrap-city__subtitle">Rostov-on-Don LCD admiral</span>
              </div>
              <div class="projects-slider-item-wrap-area">
                <h5 class="projects-slider-item-wrap-area__title">Apartment area:</h5>
                <span class="projects-slider-item-wrap-area__subtitle">81 m2</span>
              </div>
              <div class="projects-slider-item-wrap-time">
                <h5 class="projects-slider-item-wrap-time__title">Repair time:</h5>
                <span class="projects-slider-item-wrap-time__subtitle">3.5 months</span>
              </div>
              <div class="projects-slider-item-wrap-cost">
                <h5 class="projects-slider-item-wrap-cost__title">Repair Cost:</h5>
                <span class="projects-slider-item-wrap-cost__subtitle">Upon request</span>
              </div>
            </div>
            </div>
            <div class="projects-slider-item-wrap-slider-nested">
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="projects-slider-item" data-content="Sochi Thieves">
          <div class="projects-slider-item-wrap">
            <div class="projects-slider-item-wrap-project-paragraph">
            <div class="projects-slider-item-wrap-projects">
              <h2 class="projects-slider-item-wrap-projects__title">Completed projects</h2>
              <span class="projects-slider-item-wrap-projects__subtitle">Only a small part of the work performed by our company is presented on the site.
                For 14 years on in the construction market we have made happy more than 1000 families</span>
            </div>
            <div class="projects-slider-item-wrap-paragraph">
              <div class="projects-slider-item-wrap-city">
                <h5 class="projects-slider-item-wrap-city__title">City:</h5>
                <span class="projects-slider-item-wrap-city__subtitle">Sochi Thieves</span>
              </div>
              <div class="projects-slider-item-wrap-area">
                <h5 class="projects-slider-item-wrap-area__title">Apartment area:</h5>
                <span class="projects-slider-item-wrap-area__subtitle">81 m2</span>
              </div>
              <div class="projects-slider-item-wrap-time">
                <h5 class="projects-slider-item-wrap-time__title">Repair time:</h5>
                <span class="projects-slider-item-wrap-time__subtitle">3.5 months</span>
              </div>
              <div class="projects-slider-item-wrap-cost">
                <h5 class="projects-slider-item-wrap-cost__title">Repair Cost:</h5>
                <span class="projects-slider-item-wrap-cost__subtitle">Upon request</span>
              </div>
            </div>
            </div>
            <div class="projects-slider-item-wrap-slider-nested">
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="projects-slider-item" data-content="Rostov-on-Don Patriotic">
          <div class="projects-slider-item-wrap">
            <div class="projects-slider-item-wrap-project-paragraph">
            <div class="projects-slider-item-wrap-projects">
              <h2 class="projects-slider-item-wrap-projects__title">Completed projects</h2>
              <span class="projects-slider-item-wrap-projects__subtitle">Only a small part of the work performed by our company is presented on the site.
                For 14 years on in the construction market we have made happy more than 1000 families</span>
            </div>
            <div class="projects-slider-item-wrap-paragraph">
              <div class="projects-slider-item-wrap-city">
                <h5 class="projects-slider-item-wrap-city__title">City:</h5>
                <span class="projects-slider-item-wrap-city__subtitle">Rostov-on-Don Patriotic</span>
              </div>
              <div class="projects-slider-item-wrap-area">
                <h5 class="projects-slider-item-wrap-area__title">Apartment area:</h5>
                <span class="projects-slider-item-wrap-area__subtitle">81 m2</span>
              </div>
              <div class="projects-slider-item-wrap-time">
                <h5 class="projects-slider-item-wrap-time__title">Repair time:</h5>
                <span class="projects-slider-item-wrap-time__subtitle">3.5 months</span>
              </div>
              <div class="projects-slider-item-wrap-cost">
                <h5 class="projects-slider-item-wrap-cost__title">Repair Cost:</h5>
                <span class="projects-slider-item-wrap-cost__subtitle">Upon request</span>
              </div>
            </div>
            </div>
            <div class="projects-slider-item-wrap-slider-nested">
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
              <div class="projects-slider-item-wrap-slider-nested-item">
                <img class="projects-slider-item-wrap-slider-nested-item__img" src="<%=require('./assets/images/slider_img.png')%>" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects-nav-menu">
          <button class="projects-nav-menu__prev"></button>
          <div class="projects-nav-menu-wrap"></div>
          <button class="projects-nav-menu__next"></button>
      </div>
    </div>
  </div>
  <div class="online-control">
    <div class="container online-control__container">
      <h3 class="online-control__title">Online control</h3>
      <div class="online-control__img">
        <img src="<%=require('./assets/images/camera.png')%>" alt="Camera">
      </div>
      <div class="online-control-player">
        <video src="#" class="online-control-player__video"></video>
        <div class="online-control-player__curtain"></div>
        <button class="online-control-player__play"></button>
      </div>
      <span class="online-control__subtitle">At each facility, a camera is installed that broadcasts the progress of work on the clock.
        At any time, you can go to our website and monitor the progress of work in your apartment.
        You can watch the live broadcast from one of our facilities!
        Leave a request below and you will receive a link to the broadcast.</span>
      <form action="" class="online-control-form">
        <div class="online-control-form-wrap">
          <label class="input-form online-control-form-wrap__input-form">Name
            <input type="text" placeholder="What is your name:" class="input-form__input online-control-form-wrap__input-form_name"></label>
          <label class="input-form online-control-form-wrap__input-form">Phone
            <input type="text" placeholder="Your phone number:" class="input-form__input online-control-form-wrap__input-form_phone"></label>
          <button class="button online-control-form-wrap__btn">Submit</button>
        </div>
        <label class="checkbox-form online-control-form__checkbox-form">
          <input type="checkbox" class="checkbox-form__input online-control-form__checkbox-form_input">
          <span class="checkbox-form__text online-control-form__checkbox-form_text">I agree to the processing of personal data</span>
        </label>
      </form>
    </div>
  </div>
  <div class="types-of-repair">
    <div class="container types-of-repair__container">
      <h3 class="types-of-repair__title">Types of repair</h3>
      <div class="types-of-repair__img">
        <img src="<%=require('./assets/images/repair.png')%>" alt="Repair">
      </div>
      <div class="types-of-repair-info">
        <div class="offer-item types-of-repair-info__offer-item">
          <div class="offer-item-wrap">
            <img class="offer-item-wrap__img" src="<%=require('./assets/images/item1.png')%>" alt="Redecorating">
          </div>
          <div class="offer-item-list">
            <h5 class="offer-item-list__title">Redecorating</h5>
            <ul class="offer-item-list-marker">
              <li class="offer-item-list-marker__item">Dismantling of old coatings</li>
              <li class="offer-item-list-marker__item">Wallpapering</li>
              <li class="offer-item-list-marker__item">Painting walls and ceilings</li>
              <li class="offer-item-list-marker__item">Laying flooring</li>
              <li class="offer-item-list-marker__item">Replacing plumbing</li>
              <li class="offer-item-list-marker__item">Replacing sockets and switches</li>
              <li class="offer-item-list-marker__item">Replacing doors</li>
            </ul>
          </div>
          <span class="offer-item__cost">from 900 rub / m2</span>
        </div>
        <div class="offer-item types-of-repair-info__offer-item">
            <div class="offer-item-wrap">
              <img class="offer-item-wrap__img" src="<%=require('./assets/images/item2.png')%>" alt="Overhaul">
            </div>
            <div class="offer-item-list">
              <h5 class="offer-item-list__title">Redecorating</h5>
              <ul class="offer-item-list-marker">
                <li class="offer-item-list-marker__item">Dismantling of old coatings</li>
                <li class="offer-item-list-marker__item">Wallpapering</li>
                <li class="offer-item-list-marker__item">Painting walls and ceilings</li>
                <li class="offer-item-list-marker__item">Laying flooring</li>
                <li class="offer-item-list-marker__item">Replacing plumbing</li>
                <li class="offer-item-list-marker__item">Replacing sockets and switches</li>
                <li class="offer-item-list-marker__item">Replacing doors</li>
              </ul>
            </div>
            <span class="offer-item__cost">from 1800 rub / m2</span>
          </div>
          <div class="offer-item types-of-repair-info__offer-item">
              <div class="offer-item-wrap">
                <img class="offer-item-wrap__img" src="<%=require('./assets/images/item3.png')%>" alt="Designer Repair">
              </div>
              <div class="offer-item-list">
                <h5 class="offer-item-list__title">Designer Repair</h5>
                <ul class="offer-item-list-marker">
                  <li class="offer-item-list-marker__item">Dismantling of old coatings</li>
                  <li class="offer-item-list-marker__item">Wallpapering</li>
                  <li class="offer-item-list-marker__item">Painting walls and ceilings</li>
                  <li class="offer-item-list-marker__item">Laying flooring</li>
                  <li class="offer-item-list-marker__item">Replacing plumbing</li>
                  <li class="offer-item-list-marker__item">Replacing sockets and switches</li>
                  <li class="offer-item-list-marker__item">Replacing doors</li>
                </ul>
              </div>
              <span class="offer-item__cost">from 4000 rub / m2</span>
            </div>
      </div>
    </div>
  </div>
  <div class="leave-request">
    <div class="container leave-request__container">
      <div class="leave-request-wrap">
        <div class="leave-request-wrap__img">
          <img src="<%=require('./assets/images/house.png')%>" alt="Hous">
        </div>
        <div class="leave-request-wrap-point-block">
        <div class="point leave-request-wrap-point-block__point_one">
          <div class="point__img leave-request-wrap-point-block__point_img">01</div>
          <div class="point__text leave-request-wrap-point-block__point_text">Our specialist will arrive for measurements per day
            contact, or appoint a date convenient for you</div>
        </div>
        <div class="point leave-request-wrap-point-block__point_two">
          <div class="point__img leave-request-wrap-point-block__point_img">02</div>
          <div class="point__text leave-request-wrap-point-block__point_text">Free metering</div>
        </div>
        <div class="point leave-request-wrap-point-block__point_three">
          <div class="point__img leave-request-wrap-point-block__point_img">03</div>
          <div class="point__text leave-request-wrap-point-block__point_text">Free consultation</div>
        </div>
        <div class="point leave-request-wrap-point-block__point_four">
          <div class="point__img leave-request-wrap-point-block__point_img">04</div>
          <div class="point__text leave-request-wrap-point-block__point_text">Get a cost estimate and<br>
            the timing of your future repairs</div>
        </div>
        </div>
      </div>
      <div class="leave-request-form-wrap">
        <form action="" class="leave-request-form-wrap-form">
          <h3 class="leave-request-form-wrap-form__title">Leave a request for free
            departure of the measurer</h3>
          <label class="input-form leave-request-form-wrap-form__input-form">Name
            <input type="text" placeholder="What is your name:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
          <label class="input-form leave-request-form-wrap-form__input-form">Phone
            <input type="text" placeholder="Your phone number:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
          <label class="input-form leave-request-form-wrap-form__input-form">Email
            <input type="text" placeholder="Your email:" class="input-form__input leave-request-form-wrap-form__input-form_item"></label>
          <label class="checkbox-form leave-request-form-wrap-form__checkbox-form">
            <input type="checkbox" class="checkbox-form__input leave-request-form-wrap-form__checkbox-form_input">
            <span class="checkbox-form__text leave-request-form-wrap-form__checkbox-form_text">I agree to the processing of personal data</span>
          </label>
          <button class="button leave-request-form-wrap-form__btn">Call the measurer</button>
        </form>
        <div class="leave-request-form-wrap-monybox">
          <div class="leave-request-form-wrap-monybox__img"></div>
          <span class="leave-request-form-wrap-monybox__text">Help save 10 - 20% of the cost of materials</span>
        </div>
      </div>
    </div>
  </div>
  <div class="realize">
    <div class="container realize__container">
      <div class="realize-types-block">
        <h2 class="realize__title">We realize your wildest fantasies</h2>
        <ul class="realize-types">
          <li class="realize-types-li-block"><span class="realize-types__item active-tab" data-type="american">American classic</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="empire">Empire</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="classical">Classical</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="loft">Loft</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="minimalism">Minimalism</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="provence">Provence</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="romanticism">Romanticism</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="scandinavian">Scandinavian style</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="mediterranean">Mediterranean style</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="tech">High tech</span></li>
          <li class="realize-types-li-block"><span class="realize-types__item" data-type="eclecticism">Eclecticism</span></li>
        </ul>
      </div>
      <div class="realize-gallery realize-gallery--active" data-type-img="american">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/backrealize.png')%>" data-object-fit="cover" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" data-object-fit="cover" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" data-object-fit="cover" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" data-object-fit="cover" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="empire">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="classical">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="loft">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="minimalism">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="provence">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="romanticism">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="scandinavian">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="mediterranean">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="tech">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
      <div class="realize-gallery" data-type-img="eclecticism">
        <div class="realize__content realize__content-one realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent1.png')%>" alt="" class="realize__content-img realize__content-one-img">
        </div>
        <div class="realize__content realize__content-three realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent3.png')%>" alt="" class="realize__content-img realize__content-three-img">
        </div>
        <div class="realize__content realize__content-two realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent2.png')%>" alt="" class="realize__content-img realize__content-two-img">
        </div>
        <div class="realize__content realize__content-four realize__content--slider">
          <img src="<%=require('./assets/images/realizecontent4.png')%>" alt="" class="realize__content-img realize__content-four-img">
        </div>
      </div>
    </div>
  </div>
  <div class="our-team">
     <div class="container our-team__container">
      <h3 class="our-team__title">Our team</h3>
      <div class="our-team__img">
        <img src="<%=require('./assets/images/team.png')%>" alt="Camera">
      </div>
      <span class="our-team__subtitle our-team__subtitle--up">Our team has helped to become happier for more than
          500 families and we are not going to stop</span>
      <div class="our-team-person-block">
        <div class="person">
          <div class="person__icon our-team__icon-project"></div>
          <img src="<%=require('./assets/images/dima.png')%>" alt="" class="person__img">
          <div class="person-info">
            <h5 class="person-info__name">Dmitry Tulyakov</h5>
            <h5 class="person-info__profession">Project manager</h5>
            <span class="person-info__experience">Work experience 8 years</span>
          </div>
        </div>
        <div class="person our-team__person">
          <div class="person__icon our-team__icon-designer"></div>
          <img src="<%=require('./assets/images/larisa.png')%>" alt="" class="person__img">
          <div class="person-info">
            <h5 class="person-info__name">Larisa Kotlyarova</h5>
            <h5 class="person-info__profession">Designer</h5>
            <span class="person-info__experience">Work experience 6 years</span>
          </div>
        </div>
        <div class="person">
          <div class="person__icon our-team__icon-foreman"></div>
          <img src="<%=require('./assets/images/alexey.png')%>" alt="" class="person__img">
          <div class="person-info">
            <h5 class="person-info__name">Alexey Efimov</h5>
            <h5 class="person-info__profession">Foreman</h5>
            <span class="person-info__experience">Work experience 12 years</span>
          </div>
        </div>
      </div>
      <span class="our-team__subtitle our-team__subtitle--down">Each employee of our company is a qualified full-time specialist
          with work experience of 6 years.<br>We do not have laborers and guest workers, each employee carries out work corresponding to his specialty.</span>
    </div>
  </div>
  <div class="our-clients">
    <div class="container our-clients__container">
      <h3 class="our-clients__title">Our clients</h3>
      <div class="our-clients__img">
        <img src="<%=require('./assets/images/clients.png')%>" alt="Camera">
      </div>
      <span class="our-clients__subtitle">80% of our customers recommend us to their friends and family.</span>
      <div class="our-clients-block">
        <div class="client">
          <div class="client-info">
            <div class="client-block">
              <div class="client__avatar">
                <img src="<%=require('./assets/images/maria.png')%>" alt="" class="client__avatar-img">
              </div>
              <h5 class="client__name">Fedosova Maria Konstantinovna</h5>
            </div>
            <div class="client__comment">I want to thank the guys for their work. we put your shower part in repair.
              I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach.
              The repair process was turned out in terms, faster than anticipated. Team mobile and professional.
              Works performed qualitatively without comments. Quality satisfied. prices democratic. I recommend these masters.
            </div>
          </div>
          <div class="client-work-info">
            <div class="client-work-info-block client-work-info-block--size">
              <img src="<%=require('./assets/images/size.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">40 m2</span>
            </div>
            <div class="client-work-info-block client-work-info-block--days">
              <img src="<%=require('./assets/images/days.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">48 days</span>
            </div>
          </div>
        </div>
        <div class="client">
          <div class="client-info">
            <div class="client-block">
              <div class="client__avatar">
                <img src="<%=require('./assets/images/serega.png')%>" alt="" class="client__avatar-img">
              </div>
              <h5 class="client__name">Afanasyev Sergey Alexandrovich</h5>
            </div>
            <div class="client__comment">I want to thank the guys for their work. we put your shower part in repair.
              I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach.
              The repair process was turned out in terms, faster than anticipated. Team mobile and professional.
              Works performed qualitatively without comments. Quality satisfied. prices democratic. I recommend these masters.
            </div>
          </div>
          <div class="client-work-info">
            <div class="client-work-info-block client-work-info-block--size">
              <img src="<%=require('./assets/images/size.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">90 m2</span>
            </div>
            <div class="client-work-info-block client-work-info-block--days">
              <img src="<%=require('./assets/images/days.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">128 days</span>
            </div>
          </div>
        </div>
        <div class="client">
          <div class="client-info">
            <div class="client-block">
              <div class="client__avatar">
                <img src="<%=require('./assets/images/egor.png')%>" alt="" class="client__avatar-img">
              </div>
              <h5 class="client__name">Kiriev Egor Leonidovich</h5>
            </div>
            <div class="client__comment">I want to thank the guys for their work. we put your shower part in repair.
              I am very grateful that i referred to the repair as to my own. Great thanks i express the project to georgia for its professionalism and approach.
              The repair process was turned out in terms, faster than anticipated. Team mobile and professional.
              Works performed qualitatively without comments. Quality satisfied. prices democratic. I recommend these masters.
            </div>
          </div>
          <div class="client-work-info">
            <div class="client-work-info-block client-work-info-block--size">
              <img src="<%=require('./assets/images/size.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">56 m2</span>
            </div>
            <div class="client-work-info-block client-work-info-block--days">
              <img src="<%=require('./assets/images/days.png')%>" alt="" class="client-work-info-block__img">
              <span class="client-work-info-block__text">86 days</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="header-footer header-footer__footer">
    <div class="container header-footer__container">
      <a href="#" class="header-footer__logo">IC"REPAIR DESIGN PROJECT"</a>
      <nav class="header-footer-nav">
        <a href="#" class="header-footer-nav__item">Home</a>
        <a href="#" class="header-footer-nav__item">Projects</a>
        <a href="#" class="header-footer-nav__item">Measurement</a>
        <a href="#" class="header-footer-nav__item">Team</a>
        <a href="#" class="header-footer-nav__item">Reviews</a>
        <a href="#" class="header-footer-nav__item">Contacts</a>
      </nav>
      <div class="header-footer-support-wrap">
        <a href="#" class="header-footer__phone">+7 (928) 768-32-39</a>
        <button class="button header-footer__button">Request a call</button>
      </div>
    </div>
  </footer>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>

